#menu li {
    display: inline;
    padding: 15px;
    margin: auto;
}
#menu li a{
    text-decoration: none;
    color: #bc0060;
    font-size: 20px;
}
#menu li a:hover{
    color: #fe6a7c;
}
.center{
    text-align: center;
}
.justify{
    text-align: justify;
}
.container{
    display: flex;
    flex-flow: row;
    justify-content: justify;
    align-items: center;
}
.p-30 {
    padding: 30px;
}
.br-50{
    border-radius: 50%;
}
.container2{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}
.mb-50{
    margin-bottom: 50px;
}
.ml-50{
    margin-left: 50px;
}
